In [1]:
import pandas as pd

In [2]:
dt = pd.read_csv('febre_amarela.csv', sep=';')

In [3]:
dt.head()

,ID,MACRORREG_LPI,COD_UF_LPI,UF_LPI,COD_MUN_LPI,MUN_LPI,SEXO,IDADE,DT_IS,SE_IS,MES_IS,ANO_IS,MONITORAMENTO_IS,OBITO,DT_OBITO
0,1,N,14,RR,140005.0,ALTO ALEGRE,M,NaN,29/11/1994,48.0,11.0,1994,1994/1995,SIM,01/12/1994
1,2,N,14,RR,140045.0,PACARAIMA,M,19.0,19/02/1995,8.0,2.0,1995,1994/1995,N�O,NaN
2,3,NE,21,MA,210060.0,AMARANTE DO MARANH�O,M,32.0,01/04/1995,13.0,4.0,1995,1994/1995,IGN,NaN
3,4,NE,21,MA,210060.0,AMARANTE DO MARANH�O,M,33.0,03/04/1995,14.0,4.0,1995,1994/1995,SIM,09/04/1995
4,5,N,15,PA,150270.0,CONCEI��O DO ARAGUAIA,M,26.0,12/04/1995,15.0,4.0,1995,1994/1995,SIM,20/04/1995

In [4]:
dt.columns = ['Id', 'Regiao', 'Codigo_Unidade_Federativa', 'Sigla_Unidade_Federativa', 'Codigo_Municipio', 'Nome_Municipio', 
                               'Sexo', 'Idade', 'Data_Inicio_Sintoma', 'Semana_De_Inicio_Sintoma', 'Mes_Inicio_Sintoma',
                                'Ano_Inicio_Sintoma', 'Periodo_Monitoramento_Sintomas' ,'Obito', 'Data_Obito'
                              ]

In [5]:
dt.drop(columns=['Id'], inplace=True)

In [6]:
dt.head()

,Regiao,Codigo_Unidade_Federativa,Sigla_Unidade_Federativa,Codigo_Municipio,Nome_Municipio,Sexo,Idade,Data_Inicio_Sintoma,Semana_De_Inicio_Sintoma,Mes_Inicio_Sintoma,Ano_Inicio_Sintoma,Periodo_Monitoramento_Sintomas,Obito,Data_Obito
0,N,14,RR,140005.0,ALTO ALEGRE,M,NaN,29/11/1994,48.0,11.0,1994,1994/1995,SIM,01/12/1994
1,N,14,RR,140045.0,PACARAIMA,M,19.0,19/02/1995,8.0,2.0,1995,1994/1995,N�O,NaN
2,NE,21,MA,210060.0,AMARANTE DO MARANH�O,M,32.0,01/04/1995,13.0,4.0,1995,1994/1995,IGN,NaN
3,NE,21,MA,210060.0,AMARANTE DO MARANH�O,M,33.0,03/04/1995,14.0,4.0,1995,1994/1995,SIM,09/04/1995
4,N,15,PA,150270.0,CONCEI��O DO ARAGUAIA,M,26.0,12/04/1995,15.0,4.0,1995,1994/1995,SIM,20/04/1995

In [7]:
dt['Idade'] = pd.to_numeric(dt['Idade'])

In [8]:
agrupado = dt.groupby(['Sigla_Unidade_Federativa']).size()
agrupado

Sigla_Unidade_Federativa
AC       2
AM      50
BA      10
DF      10
ES     258
GO      98
MA       2
MG    1098
MS      12
MT      27
PA      96
PR      14
RJ     307
RO       2
RR      18
RS      21
SC      27
SP     691
TO      25
dtype: int64

In [9]:
agrupado = dt.groupby(['Sexo']).size()
agrupado

Sexo
F     476
M    2291
dtype: int64

In [10]:
agrupado = dt.groupby(['Obito']).size()
agrupado

Obito
IGN      88
N�O    1670
SIM    1010
dtype: int64

In [11]:
dt['Idade'].describe()

count    2766.000000
mean       42.570299
std        16.609067
min         0.000000
25%        30.000000
50%        43.000000
75%        55.000000
max        93.000000
Name: Idade, dtype: float64

In [12]:
dt.isnull().sum()

Regiao                               0
Codigo_Unidade_Federativa            0
Sigla_Unidade_Federativa             0
Codigo_Municipio                     7
Nome_Municipio                       6
Sexo                                 1
Idade                                2
Data_Inicio_Sintoma                  5
Semana_De_Inicio_Sintoma            16
Mes_Inicio_Sintoma                  11
Ano_Inicio_Sintoma                   0
Periodo_Monitoramento_Sintomas       0
Obito                                0
Data_Obito                        1789
dtype: int64

In [13]:
dt['Sexo'] = dt['Sexo'].fillna('M')

In [14]:
import statistics as sts

In [15]:
mediana = sts.median(dt['Idade'])
mediana

70.5

In [16]:
dt.loc[dt['Data_Obito'].isnull(), 'Obito'] = 'NAO'

In [20]:
dt['Idade'] = dt['Idade'].fillna(mediana)

In [22]:
dt['Idade'] = dt['Idade'].astype(int)

In [40]:
dt.dropna(subset=['Codigo_Municipio'], inplace=True)
dt.dropna(subset=['Data_Inicio_Sintoma'], inplace=True)
dt.dropna(subset=['Semana_De_Inicio_Sintoma'], inplace=True)
dt.dropna(subset=['Mes_Inicio_Sintoma'], inplace=True)
dt.dropna(subset=['Ano_Inicio_Sintoma'], inplace=True)

In [41]:
dt.isnull().sum()

Regiao                               0
Codigo_Unidade_Federativa            0
Sigla_Unidade_Federativa             0
Codigo_Municipio                     0
Nome_Municipio                       0
Sexo                                 0
Idade                                0
Data_Inicio_Sintoma                  0
Semana_De_Inicio_Sintoma             0
Mes_Inicio_Sintoma                   0
Ano_Inicio_Sintoma                   0
Periodo_Monitoramento_Sintomas       0
Obito                                0
Data_Obito                        1772
dtype: int64

In [43]:
dt.to_csv('dados_tratados.csv', index=False)